header {
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 250px;
}

/* fix spacing between header and p */
h1 {
    margin-bottom: 0%;
    word-spacing: 5px;
    font-size: 6rem;
}

header p {
    letter-spacing: 15px;
    margin-top: 33%vh;
    font-size: 2rem;
}

/* add nav css to right */
nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

ul {
    display: flex;
    list-style-type: none;
    padding-right: 10%;
}

ul li {
    border-left: 1px solid black;
    padding-left: 15px;
    margin-left: 20px;
    font-size: 1em;
}

/* w/h/bradius to img */
.profile-img {
    display: flex;
    align-items: center;
    float: right;

    height: auto;
    width: 350px;
    border-radius: 50%;
}

.introSection {
    margin-top: 10rem;
}