:root {
    --mainblack: #1b1b1b;
    --mainWhite: #fffff0;
    --mainRed: #850101;
}

/* * {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
} */

header {
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;


}

/* fix spacing between header and p */
h1 {
    margin-bottom: 0%;
    word-spacing: 3rem;
    font-size: 7rem;
}

header p {
    letter-spacing: 3rem;
    margin-top: 33%vh;
    font-size: 3rem;
}

/* add nav css to right */
a {
    color: var(--mainblack);
    text-decoration: none;
}

a:hover {
    color: var(--mainRed);
    transition: 1s;
    font-size: 1.5em;
}

a:visited {
    color: var(--mainRed);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

ul {
    display: flex;
    list-style-type: none;
    padding-right: 10%;
}

ul li {
    border-left: 1px solid black;
    padding-left: 1rem;
    margin-left: 5rem;
    font-size: 3rem;
}

/* w/h/bradius to img */
.profile-img {
    display: flex;
    align-items: center;
    float: right;
    height: 65rem;
    width: 45rem;
    border-radius: 50%;
    border: .16rem solid var(--mainblack);

}

.introSection {
    margin-top: 10rem;
    font-size: 3rem;
}

.introSection~h2 {
    font-size: 1rem;

}

footer {
    border-top: 1px solid var(--mainblack)
}

footer h2 {
    font-size: 3rem;
}